<div id="<%= dom_id visual_work %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Artist:</strong>
    <%= visual_work.artist_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Artwork:</strong>
    <%= image_tag(visual_work.artwork, width: '600', height: 'auto', data: { title: visual_work.title }) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= visual_work.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Medium:</strong>
    <%= visual_work.medium %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= visual_work.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this visual work", visual_work, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this visual work', edit_visual_work_path(visual_work), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
