<%= form_with(model: written_work, class: "contents") do |form| %>
  <% if written_work.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(written_work.errors.count, "error") %> prohibited this written_work from being saved:</h2>

      <ul>
        <% written_work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :artist_id %>
    <%= form.collection_select :artist_id, Artist.all, :id, :first_name ,{}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>

  </div>
  <div class="my-5">
    <%= form.label :genre %>
    <%= form.text_field :genre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.rich_text_area :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full bg-white" %>
  </div>

  <div class="my-5">
    <%= form.label :artist_description %>
    <%= form.rich_text_area :artist_description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full bg-white" %>
  </div>

  <div class="my-5">
    <%= form.label :audio_description %>
    <%= form.text_field :audio_description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline my-5">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
